# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgresql://postgres:postgres@localhost:5433/financas-app?schema=public"

# DATABASE_URL=postgresql://postgres:UESuRA1ANXsO94m4@db.gbuwfugqeosnwmolaybc.supabase.co:5432/postgres
# DIRECT_URL=postgresql://postgres.gbuwfugqeosnwmolaybc:UESuRA1ANXsO94m4@aws-0-sa-east-1.pooler.supabase.com:5432/postgres
PORT=3000
JWT_SECRET=mXL4nvlacaaxJqtx
CORS_ORIGIN=http://localhost:3000,http://localhost:5173,https://financas-app-backend-one.vercel.app,https://financasjbf.netlify.app